

<div id="wrapper" class="active">

  <div id="sidebar-wrapper" ng-init = "tab = 1">
    <ul class="sidebar-nav">
     <li><a href="#/view1"><i class="users"></i>Lecturer page</a></li>
      <li>
        <a href="#/lectpage1">Students</a></li>
      </li>
      <li>
        <a href="#/lectpage2">Quizzes</a></li>
      </li>
      <li>
        <a href="#/lectpage3">Results</a></li>
      </li>

    </ul>
  </div>


  <div class="container-fluid">
<!-- contact.html -->
    <div class="jumbotron text-center">
        <h1>lecturer results page </h1>

        <p>{{ message }}</p>
    </div>

</div>