
<!-- sidebar-->

<div id="wrapper" class="active">

  <div id="sidebar-wrapper" ng-init = "tab = 1">
    <ul class="sidebar-nav">
     <li><a href="#/view1"><i class="users"></i>Lecturer page</a></li>
     <li>
      <a href="#/lectpage1">Students</a></li>
  </li>
  <li>
      <a href="#/lectpage2">Quizzes</a></li>
  </li>
  <li>
      <a href="#/lectpage3">Results</a></li>
  </li>

</ul>
</div>
<!-- sidebar -->

<div class="container-fluid">

<!--table of quizzes-->
<!--table of quizzes-->

<!--create new quiz -->
<div ng-include="'partials/createquiz.html'"></div>
<!--create new quiz -->
</div>